@model ProfessorViewModel
@{
    ViewData["title"] = "Cadastrar Professor";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Professores" asp-action="Index">Professores</a></li>
        <li>Cadastrar</li>
    </ol>
}

@using (Html.BeginWidget("Cadastrar Professor"))
{
    @await Html.PartialAsync("_PartialFormulario", Model)
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
