@model ProfessorViewModel

@{
    ViewData["title"] = "Atualizar Cadastro Professor";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Professores" asp-action="Index">Professores</a></li>
        <li>Atualizar</li>
    </ol>
}

@using (Html.BeginWidget("Atualizar Cadastro Professor"))
{
    @await Html.PartialAsync("_PartialFormulario", Model)
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}