@model ErrorViewModel
@{
    ViewData["Title"] = Model.Titulo;
}

@if (Model != null)
{
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">@Model.ErrorCode</span>
                    <div class="mb-4 lead">@Model.Mensagem</div>
                    <a href="javascript:history.go(-1)" class="btn btn-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Ops!</span>
                    <div class="mb-4 lead">Ocorreu um erro inesperado, mas não se preocupe. Nossa equipe já está cuidando disso!</div>
                    <a href="javascript:history.go(-1)" class="btn btn-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}




