@model ErrorViewModel
@{
    ViewData["Title"] = Model.Titulo;
}

@if (Model != null)
{
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">@Model.ErrorCode</span>
                    <div class="mb-4 lead">@Model.Mensagem</div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-link">Retornar ao inicio</a>
                </div>
            </div>
        </div>
    </div>
}
else
{

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Erro!</span>
                    <div class="mb-4 lead">Ops, ocorreu um erro inesperado, mas não se preocupe. Nossa equipe ja esta resolvendo.</div>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-link">Retornar ao inicio</a>
                </div>
            </div>
        </div>
    </div>
}




