@model ErrorViewModel
@{
    ViewData["Title"] = "SGI Escolar - Error";
    Layout = null;
}

@if (Model != null)
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/lockscreen.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-skins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/demo.min.css" rel="stylesheet" />

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">@Model.ErrorCode</span>
                    <div class="mb-4 lead">@Model.Mensagem</div>
                    <a href="javascript:history.go(-1)" class="btn btn-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/template/js/notification/SmartNotification.min.js"></script>
    <script src="~/lib/template/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="~/lib/template/js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="~/lib/template/js/plugin/select2/select2.min.js"></script>
    <script src="~/lib/template/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/lib/template/js/plugin/maskMoney/jquery.maskMoney.min.js"></script>
}
else
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/lockscreen.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-skins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/demo.min.css" rel="stylesheet" />

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Ops!</span>
                    <div class="mb-4 lead">Ocorreu um erro inesperado, mas não se preocupe. Nossa equipe já está cuidando disso!</div>
                    <a href="javascript:history.go(-1)" class="btn btn-link">Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/template/js/notification/SmartNotification.min.js"></script>
    <script src="~/lib/template/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="~/lib/template/js/smart-chat-ui/smart.chat.manager.min.js"></script>
    <script src="~/lib/template/js/plugin/select2/select2.min.js"></script>
    <script src="~/lib/template/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/lib/template/js/plugin/maskMoney/jquery.maskMoney.min.js"></script>
}




