@model List<UsuarioViewModel>

@{
    ViewData["title"] = "Usuários";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Usuarios" asp-action="Index">Usuários</a></li>
        <li>Lista</li>
    </ol>
}

@using (Html.BeginWidget("Lista de Usuários", "Verifique suas permissões para realizar alterações."))
{
    @using (Html.BeginTable())
    {
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Função</th>
                <th class="btns-acoes"> Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Nome</td>
                    <td>@user.Email</td>
                    <td>@user.Funcao</td>
                    <td class="btns-acoes">
                        <div class="btn-group">
                            <a asp-action="Editar" asp-route-id="@user.Id" class="btn btn-xs btn-default" title="Editar"><i class="fa fa-pencil"></i></a>
                            <a data-url="Usuarios/Excluir/@user.Id" class="btn btn-xs btn-default confirmaDelete" title="Excluir"><i class="fa fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    }
}


@section Scripts {
    <script>
        $(document).ready(() => {
            $(".toolbar").html(`
                <section class="col-md-12 right no-padding">
                    <a href="/Usuarios/Cadastrar" class="btn btn-default right">
                        <i class="fa fa-arrow-circle-o-right"></i> Cadastrar
                    </a>
                </section>
            `);
        });
    </script>
}
