@model SGIEscolar.ViewModels.UsuarioViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, use-scalable=no, shrink-to-fit=no" />
    <title>SGI - Escolar</title>
    <link href="~/lib/template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-production.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/login/style.css" rel="stylesheet" />
</head>
<body>
    <div class="row col-lg-12" style="padding: 0px;margin:0px;height: 100vh;">
        <div id="image" class="col-sm-7" style="height: 100vh">
            @*<img src="~/image/login01.jpg" style="height: 100%; width: 100%;" />*@
            @*<img src="~/image/login02.jpg" style="height: 100vh; width: 100%;" />*@
            <img src="~/image/login03.jpg" style="height: 100vh; width: 100%;"/>
            @*<img src="~/image/login04.jpg" style="height: 100vh; width: 100%;" />*@
            <p id="title">Sistema de Gerenciamento Interno Escolar</p>
        </div>
        <div id="rigth-log" class="col-sm-5" style="height: 100vh">
            <div class="login-container">
                <form id="formulario" asp-action="login" method="Post" class="form-control">
                    <vc:summary></vc:summary>
                    <div class="form-group input-container">
                        <label>Email</label>
                        <input type="text" class="input" asp-for="Email" placeholder="Digite seu Usuário" />
                    </div>
                    <div class="form-group input-container">
                        <label>Senha</label>
                        <input type="password" class="input" asp-for="Senha" current-password placeholder="Digite sua Senha" />
                    </div>
                    <div class="col-md-12 checkbox-manter">
                        <div class="col-md-6">
                            <div class="custom-checkbox">
                                <input name="manter-conectado" type="checkbox" id="flexCheckDefault">
                                <label for="flexCheckDefault">
                                    Manter conectado.
                                </label>
                            </div>
                        </div>
                        <div id="esqueceu-senha" class="col-md-6">
                            <a href="#" id="recuperar-senha" class="text-info small" style="float: right;">
                                Esqueceu sua senha?
                            </a>
                        </div>
                    </div>
                    <button id="btn-entrar" type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="~/lib/template/js/plugin/pace/pace.min.js"></script>
</body>
</html>