@{
    ViewData["Title"] = "Home Page";
}
@section sitemap {
    <ol class="breadcrumb">
        <li>Dashboard / </li>
    </ol>
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Sistema de Gerenciamento escolar</p>
</div>
