@model UsuarioViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
    </ol>
}

@using (Html.BeginWidget("Dashboard", "Inforações Gerais da Instituiçao de Ensino")) {
<div class="padding-10">
    <div class="row">
        <div class="col-md-6">
            <header>
                Média de Notas Entre Trumas <i class="fa fa-bar-chart-o"></i>
            </header>
        </div>
        <div class="col-md-6">
            <header>
                Média de Faltas dos Alunos Entre Turmas <i class="fa fa-bar-chart-o"></i>
            </header>
        </div>
    </div>
</div>
}


@section Scripts {
    
}