@model UsuarioViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home">Dashboard</a></li>
    </ol>
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Inforações Gerais da Escola</p>
</div>
<div class="widget-body">

    <header>
        Média de Notas Entre Trumas <i class="fa fa-bar-chart-o"></i>
    </header>
    <div id="grafic-notas" class="row">
        <svg>
            <!-- Aqui é renderizado o grafico -->
        </svg>
    </div>

    <header>
        Média de Faltas dos Alunos Entre Turmas <i class="fa fa-bar-chart-o"></i>
    </header>
    <div id="grafic-falts" class="row">
        <svg>
            <!-- Aqui é renderizado o grafico -->
        </svg>
    </div>

    <header>
        Média de Faltas dos Alunos Entre Turmas <i class="fa fa-bar-chart-o"></i>
    </header>
    <div id="grafic-aval" class="row">
        <svg>
            <!-- Aqui é renderizado o grafico -->
        </svg>
    </div>

</div>


@section Scripts {
    <script src="~/js/dashboard/grafics.js"></script>
}