* {
    margin: 0px;
    padding: 0px !important;
    font-size: 14px;
}
label {
    border: none;
    outline: none;
    padding-left: 10px !important;
    border-radius: 5px;
}

.login-container {
    display: block;
    justify-content: center;
    width: 96%;
    align-items: center;
    margin: 40px 0px;
}

#rigth-log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#formulario {
    display: block;
    width: 90%;
    margin: 40px 5%;
    border: none;
    border-radius: 5px !important;
}

#btn-entrar {
    border: none;
    padding: 10px 40px !important;
    float: right;
    border-radius: 2px;
    background-color: #6c71ff;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    margin: 50px 20%;
}

.input-container {
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px !important;
}

.input {
    touch-action: none;
    outline: none;
    border: none;
    width: 100%;
    background-color: #f9f9f9;
    padding: 5px 15px !important;
    border-radius: 5px;
}

.checkbox-manter {
    padding: 5px 15px;
    display: flex;
}

#recuperar-senha {
    float: right !important;
    margin-top: 5px !important;
}

#title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #343434;
}

@media screen and (max-width: 767px) {
    #image {
        display: none;
    }
}

li {
    list-style: none;
}

.alert {
    width: 100% !important;
    display: inline-block !important;
    padding: 10px !important;
}

.logo {
    color: #6c71ff;
    font-size: 30px;
    text-shadow: -5px 5px 1px rgba(0,0,0,.1);
    text-align: center;
    font-weight: 900;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 60%;
    margin: 10px 20%;
}