@model AlunoViewModel
@{
    ViewData["title"] = "Editar matricula ";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Alunos" asp-action="Index">Alunos</a></li>
        <li>Atualizar</li>
    </ol>
}

@using (Html.BeginWidget("Atualizar Matricula"))
{
    @await Html.PartialAsync("_PartialFormulario", Model)
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}