@model List<AlunoViewModel>
@{ 
    ViewData["title"] = "Alunos ";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Alunos" asp-action="Index">Alunos</a></li>
        <li>Lista</li>
    </ol>
}
@using (Html.BeginWidget("Lista de Alunos", ""))
{
    <div class="row">
        <section class="col-md-3">
            <div class="input-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="search" type="text" class="form-control" placeholder="Filtrar" />
                </div>
            </div>
        </section>
        <section class="col-md-9 right">
            <a asp-action="Cadastrar" class="btn btn-default right">
                <i class="fa fa-arrow-circle-o-right"></i>
                Matricular
            </a>
        </section>
    </div>
    <div id="table-alunos" width="100%">
        AQUI É RENDERIZADO O TABULATOR
    </div>
}
@section Scripts {
    <script src="~/js/alunos/table.alunos.js"></script>
}
