@model TurmaViewModel
@{
    ViewData["title"] = "Matricular Aluno";
}
@section sitemap {
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li><a asp-controller="Turmas" asp-action="Index">Turmas</a></li>
        <li>Cadastrar</li>
    </ol>
}

@using (Html.BeginWidget("Cadastrar Turma"))
{
    @await Html.PartialAsync("_PartialFormulario", Model)
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


